{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<form class="page__section">
    <h1 class="page__title">Відновлення паролю</h1>
    <div class="form">
        {{>field
        action="recoveryConfirmForm.change"
        label="Код підтвердження"
        name="code"
        type="number"
        placeholder="Введіть код"
        isInput=true
        }}

        {{>field
        action="recoveryConfirmForm.change"
        label="Новий пароль"
        name="password"
        placeholder="Введіть новий пароль"
        isPassword=true
        }}

    </div>
    {{>button text="Змінити пароль" submit="recoveryConfirmForm.submit()"}}
    <span class="alert alert--disabled">ERROR</span>
</form>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}