@use '../../style' as s;

.field {
  display: flex;
	flex-direction: column;
	gap: s.space(2);

	&__label {
		font-size: 14px;
		color: s.color(gray);

		&--select {
			font-size: 16px;
			color: s.color('dark');
		}
	}

	&__input {
		border: 1px solid s.color('box');
		background-color: s.color('box');
		padding: s.space(4);
		border-radius: 10px;
		font-size: 14px;
		color: s.color('dark');
		transition: border-color 0.3s;

		&::placeholder {
			color: s.color('light');
		}

		&:hover {
			border-color: s.color(gray);
		}

		&:focus {
			border-color: s.color(main);
		}

		&--error {
			border-color: s.color(red) !important;
		}

		&--disabled {
			display: none;
		}
	}

	&__wrapper {
		width: 100%;
		display: grid;
		position: relative;

		& .field__icon {
			@include s.click;
			display: block;
			height: 20px;
			width: 20px;
			position: absolute;
			right: 16px;
			top: calc(50% - 10px);
			background-size: cover;
			background-image: url('/svg/password-show.svg');

			&[show] {
				background-image: url('/svg/password-hide.svg');
			}
		}

		& .field__input {
			padding-right: calc(16px + 20px + 16px);
		}
	}

	&--checkbox {
		.field__wrapper {
			position: static;
			border: 1px solid s.color('box');
			padding: s.space(4);
			border-radius: 10px;
			display: flex;
			gap: s.space(2);
			align-items: center;
			line-height: 1em;
			cursor: pointer;
			transition: border-color 0.3s;

			&:hover {
				border-color: s.color('gray');
			}

			&[active] .field__icon {
				background-image: url('/svg/checkbox-active.svg');
			}
		}

		.field__icon {
			position: static;
			display: block;
			height: 14px;
			width: 14px;
			background-size: cover;
			background-image: url('/svg/checkbox-disabled.svg');
			background-repeat: no-repeat;
			background-size: 12px 12px;
			background-position: center center;
		}

		.field__label--checkbox {
			font-size: 16px;
			color: s.color('dark');
			padding-top: 3px;
		}

		.field__input--disabled {
			display: none;
		}

	}

	&__select {
		border: 1px solid s.color('box');
		background-color: s.color('box');
		padding: s.space(4);
		border-radius: 10px;
		display: flex;
		align-items: center;
		gap: s.space(2);
		transition: border-color 0.3s;
		position: relative;
		cursor: pointer;
	}

	&__value {
		font-size: 14px;
		color: s.color(dark);

		&--placeholder {
			color: s.color(light);
		}
	}

	&__container {
		display: grid;
		position: relative;

		&:hover {
			.field__select {
				border-color: s.color(gray);
			}
		}

		& .field__icon {
			display: block;
			height: 20px;
			width: 20px;
			background-image: url('/svg/select.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			right: s.space(4);
			top: calc(50% - 10px);
			position: absolute;
		}
	}

	&__option {
		@include s.click();

		&:not(:last-of-type) {
			padding-bottom: s.space(4);
		}

		&[active] {
			color: s.color('main');

			&:hover {
				opacity: 1;
			}
		}

		transition: color 0.3s;

		&-list {
			padding: s.space(4);
			display: none;
			border: 1px solid s.color('box');
			border-radius: 10px;
			background-color: s.color('background');
			max-height: 160px;
			position: absolute;
			top: 100%;
			right: 0px;
			width: 100%;
			z-index: 1;
	
			&[active] {
				display: block;
			}
		}
	}

}
