{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<form class="page__section">
    <h1 class="page__title">Реєстрація</h1>
    <div class="form">
        {{>field
        action="signupForm.change"
        label="Електронна адреса"
        name="email"
        type="email"
        placeholder="Ваш email"
        isInput=true
        }}

        {{>field
        action="signupForm.change"
        label="Пароль"
        name="password"
        placeholder="Ваш пароль"
        isPassword=true
        }}

        {{>field
        action="signupForm.change"
        label="Повторіть пароль"
        name="passwordAgain"
        placeholder="Ваш пароль"
        isPassword=true
        }}

        {{>field
        action="signupForm.change"
        label="Роль на сайті"
        placeholder="Оберіть роль"
        name="role"
        list=data.role
        isSelect=true
        }}

        {{>field
        action="signupForm.change"
        label="Погоджуєтесь з умовами"
        name="isConfirm"
        isCheckbox=true
        }}

    </div>
    {{>button text="Зареєструватись" submit="signupForm.submit()"}}
    <span class="link__prefix">Маєте акаунт? <a href="/signin" class="link">Увійти</a></span>
    <span class="alert alert--disabled">ERROR</span>
</form>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}